<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="script.TestFacebook"/>
      <class name="script.TestInstagram"/>
      <class name="script.TestTwitter"/>
      <class name="script.TestLinkedin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
